<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WEATHER_BASE_URL</key>
	<string>https://api.openweathermap.org/data/2.5/weather</string>
	<key>WEATHER_API_KEY</key>
	<string>38c3790cf86e1941a423beb798594597</string>
	<key>WEATHER_ONECALL_BASE_URL</key>
	<string>https://api.openweathermap.org/data/3.0/onecall</string>
</dict>
</plist>
